
.pykz {
  max-width: 500px;
}

.pykz__dates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.pykz__date {
  height: 50px;
  width: 50px;
  text-align: right;
  border: 1px solid;
  padding: 5px;
}

.pykz__highlighted {
  background-color: blue;
  color: white;
}

.pykz__header {
  text-align: center;
}
